.bandera {
  display : inline-block;
  margin: 0px 15px
  height : 20vh;
  width : 25%;
}

.amarillo{
  background-color:#ECFF33;
  color:black;
}
.gris{
  background-color: gray;
  color: white;
}
#texto-mayusculas{
  text-transform: uppercase;
}
