.bandera {
  display : block;
  height : 20vh;
  width : 50%;
}

.amarillo{
  background-color:#ECFF33;
  color:black;
}
.gris{
  background-color: gray;
  color: white;
}
#texto-mayusculas{
  text-transform: uppercase;
}
