.bandera, .bandera p{
  display : inline;
  margin: 0px 10px;
  padding: 10px 10px;
}

.amarillo{
  background-color:#ECFF33;
  color:black;
}
.gris{
  background-color: gray;
  color: white;
}
#texto-mayusculas{
  text-transform: uppercase;
}
